<swiper-container
    className="mySwiper my-10 z-40 w-full block lg:max-w-[400px]"
    scrollbar-hide="true"
    space-between="0"
    centered-slides="true"
    autoplay-delay="2500"
    autoplay-disable-on-interaction="true"
>
    <swiper-slide
        ><div class="flex justify-center items-center w-full">
            <img
                src="/1.avif"
                class="w-full object-contain max-h-[55vh] md:max-h-[45vh]"
                alt=""
            />
        </div>
    </swiper-slide>
    <swiper-slide
        ><div class="flex justify-center items-center w-full">
            <img
                src="/2.avif"
                class="w-full object-contain max-h-[55vh] md:max-h-[45vh]"
                alt=""
            />
        </div>
    </swiper-slide>
    <swiper-slide
        ><div class="flex justify-center items-center w-full">
            <img
                src="/3.avif"
                class="w-full object-contain max-h-[55vh] md:max-h-[45vh]"
                alt=""
            />
        </div>
    </swiper-slide>
</swiper-container>
<script
    src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"
></script>
