---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "@fontsource/cinzel/600.css";
import "@fontsource/cinzel/700.css";
import "@fontsource/lora/400.css";
import "@fontsource/lora/500.css";
import "@fontsource/lora/600.css";
import '@fontsource-variable/roboto';
import '../styles/main.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>KMZ Studio</title>
		<meta name="description" content="KMZ Barber Studio" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	</head>
	<body class="h-full from-[#f4f6f7] bg-gradient-to-b via-[#e4e7e9] to-[#616d79]">
		<Header />
		<main class="mt-[90px] md:mt-[90px]">
			<slot />
		</main>
		<Footer />
	</body>
</html>
